<h1> <%= @doctor.full_name %> </h1>

<h3> <%= @doctor.specialty %> </h3>

<span> <%= @doctor.about %> </span>

<% #@appointments.each do |appointment| %>
	<% #appointment.patient.full_name %>

<% #end %>


